<html lang="en">
  <head>
    <title>weather</title>
    <link rel="icon" href="/img/weather.png">
    <link rel="stylesheet" href="/css/styles.css" />
    <script src="../public/js/app.js"></script>
  </head>
  <body>
    <div class="main-content">
      {{>header}}

      <p>Use this site to get your Weather!</p>
    </div>
    
    {{>footer}}
  </body>
</html>